<html>
    <head>
        <%- include('./head') %>
        
    </head>
    <body>
        <%- include('./header') %>
        <section>
            <h1 id="title">InOut Graph</h1>
            <div class="canvas"></div>
            <ul id="list">
            </ul>
        </section>
        <script type="text/javascript">
            const inOutLog = <%- JSON.stringify(clusterInOutUsers) %>
            const ul = document.querySelector('#list')

            const Gaepo = inOutLog.filter(e => e.location === 0)
            const Seocho = inOutLog.filter(e => e.location === 1)

            let num = 0;
            const GaeoLog = {};
            const SeochoLog = {};
            Gaepo.forEach((e, i) => {
                if (Object.keys(GaeoLog).indexOf(String(e.day)) === -1) {
                    GaeoLog[e.day] = [[e.timestamp, num + e.inout ]]
                } else {
                    GaeoLog[e.day].push([ e.timestamp, num + e.inout ])
                    
                }
                num += e.inout
            })
            num = 0;
            Seocho.forEach((e, i) => {
                if (Object.keys(SeochoLog).indexOf(String(e.day)) === -1) {
                    SeochoLog[e.day] = [[ parseInt(e.timestamp / 60) - 600, 1000 - ((num + e.inout) * 10) ]]
                } else {
                    SeochoLog[e.day].push([ parseInt(e.timestamp / 60) - 600, 1000 - ((num + e.inout) * 10) ])
                }
                num += e.inout
            })            
            const line = d3.line()(SeochoLog[210419])
            
            console.log(line)
            console.log(Seocho.filter(e => e.day === 210419))
            console.log(SeochoLog[210419])

            const svg = d3.select('.canvas')
            .append('svg')
            .attr('width', 1000).attr('height', 1000)
            .append('path')
            .attr('d', line)
            .attr('stroke', 'black')
            .attr("stroke-width", 1)
            .attr('fill', 'none')
            
            

            
            
            



            /*
            const frag = document.createDocumentFragment()
            dummy.forEach(({ timestamp, id, location }) => {
                const li = document.createElement("li")
                const hour = parseInt(timestamp / 3600)
                const min = parseInt((timestamp % 3600) / 60)
                li.insertAdjacentHTML(
                    "beforeend",
                    `<div>
                        <p>${id}</p>  
                        <p>"개포"</p>
                        <p>${hour}:${min}</p>
                    </div>`
                )
                frag.appendChild(li)
            })
            ul.appendChild(frag)
            */
        </script>
    </body>
</html>