<title>42Static</title>
<script src="https://d3js.org/d3.v6.min.js"></script>
<link rel="stylesheet" href="/style.css">
<link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700;900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
