<html>
    <head>
        <%- include('./head') %>
    </head>
    <body>
        <header>
            <%- include('./header') %>
        </header>
        <section>
            <h1>List of Static Data</h1>
            <div id="grid">
            </div>
        </section>
        
        <script type="text/javascript">
            const list = document.querySelector('#grid')
            const frag = document.createDocumentFragment()
            const urls = <%- JSON.stringify(list) %>
            urls.forEach(url => {
                const card = document.createElement('div')
                card.insertAdjacentHTML(
                    'beforeend',
                    `<p>${url.slice(1)}</p>`
                )
                card.classList.add('card')
                card.onclick = () => {
                    location.href = `${url}`
                }
                frag.appendChild(card)
            })
            list.appendChild(frag)
        </script>
    </body>
</html>