<html>
    <head>
        <%- include('./head') %>
    </head>
    <body>
        <%- include('./header') %>
        <section>
            <h1 id="title">Number of subject user</h1>
            <div class="canvas"></div>
            <ul id="list">
            </ul>
        </section>
        <script type="text/javascript">
            const users = <%- JSON.stringify(users) %>
            const width = 1000;
            const height = 800;

            const svg = d3.select('.canvas')
            .append('svg').attr('width', width).attr('height', height)

            const yAxis = d3.scaleBand()
            .domain(Object.keys(users).reverse())
            .range([800, 0])
            .padding(0.3)

            svg.append('g')
            .attr('transform', 'translate(90, 10)')
            .call(d3.axisLeft(yAxis))
            
            let i = 0
            for (key in users) {
                svg.append('rect')
                .attr('class', 'bar')
                .attr('y', yAxis(key) + yAxis.bandwidth() / 2)
                .attr('height', yAxis.bandwidth())
                .attr('width', users[key].length * (1000 / 200))
                .attr('x', 90)
                i++
            }

            for (key in users) {
                svg.append('text')
                .attr('class', 'barText')
                .data([users[key].length])
                .text((key) => key)
                .attr('y', yAxis(key) + yAxis.bandwidth() + 5)
                .attr('x', 100)
            }
        </script>
    </body>
</html>