<html>
    <head>
        <%- include('./head') %>
    </head>
    <body>
        <%- include('./header') %>
        <div class="canvas"></div>
        <ul id="list">
        </ul>
        <script type="text/javascript">
            const users = <%- JSON.stringify(users) %>

            const svg = d3.select('.canvas')
            .append('svg').attr('width', 1000).attr('height', 2000)

            const margin = { top: 20, right: 20, bottom: 100, left: 100 }
            const graphWidth = 1000 - margin.left - margin.right
            const graphHeight = 2000 - margin.top - margin.bottom

            const graph = svg.append('g')
            .attr("width", graphWidth)
            .attr("height", graphHeight)
            .attr("transform", `translate(${margin.left}, ${margin.top})`)
            
            const xAxisGroup = graph
            .append("g")
            .attr("transform", `translate(0, ${graphHeight})`); // x축 아래로 translate
            const yAxisGroup = graph.append("g");

            const list = document.querySelector('#list')
            const frag = document.createDocumentFragment()
            
            for ( key in users ) {
                const li = document.createElement('li')
                    li.insertAdjacentHTML(
                    'beforeend',
                    `<p>${key}: ${users[key].length}</p>`
                )
                frag.appendChild(li)
            }
            list.appendChild(frag)
        </script>
    </body>
</html>