<html>
    <head>
        <%- include('./header') %>
    </head>
    <body>
        <ul id="list">
        </ul>
        <script type="text/javascript">
            const list = document.querySelector('#list')
            const frag = document.createDocumentFragment()
            const users = <%- JSON.stringify(users) %>
            for ( key in users ) {
                const li = document.createElement('li')
                    li.insertAdjacentHTML(
                    'beforeend',
                    `<p>${key}: ${users[key].length}</p>`
                )
                frag.appendChild(li)
            }
            list.appendChild(frag)
        </script>
    </body>
</html>