<html>
    <head>
        <%- include('./head') %>
        
    </head>
    <body>
        <%- include('./header') %>
        <section>
            <h1 id="title">InOut Graph</h1>
            <div class="canvas"></div>
            <ul id="list">
            </ul>
        </section>
        <script type="text/javascript">
            const inOutLog = <%- JSON.stringify(clusterInOutUsers) %>
            const ul = document.querySelector('#list')

            const Gaepo = inOutLog.filter(e => e.location === 0)
            const Seocho = inOutLog.filter(e => e.location === 1)

            const GaepoPoint = {};
            const SeochoPoint = {};
            
            let num = 0;
            let hour = 0;
            Gaepo.forEach(log => {
                if (Object.keys(GaepoPoint).indexOf(String(log.day)) === -1) {
                    hour = 0
                    GaepoPoint[log.day] = { [hour] : num }
                }
                while ((hour + 1) * 3600 < log.timestamp)
                {
                    GaepoPoint[log.day][hour + 1] = num
                    hour += 1
                }   
                num += log.inout
                GaepoPoint[log.day][hour + 1] = num
            })
            num = 0;
            hour = 0;
            Seocho.forEach(log => {
                if (Object.keys(SeochoPoint).indexOf(String(log.day)) === -1) {
                    hour = 0
                    SeochoPoint[log.day] = { [hour] : num }
                }
                while ((hour + 1) * 3600 < log.timestamp)
                {
                    SeochoPoint[log.day][hour + 1] = num
                    hour += 1
                }   
                num += log.inout
                SeochoPoint[log.day][hour + 1] = num
            })


            const margin = {top: 50, right: 50, bottom: 50, left: 50}
            const width = 500 - margin.left - margin.right
            const height = 500 - margin.top - margin.bottom

            const xScale = d3.scaleLinear().domain([0, 24]).range([0, width])
            const yScale = d3.scaleLinear().domain([0, 150]).range([height, 0])
            const line = d3.line()
            .x((d, i) => xScale(d[0]))
            .y((d, i) => yScale(d[1]))
            
            const container = d3.select('.canvas')
            let svg = {}
            
            for (let key in SeochoPoint) {
                svg[key] = container.append('svg')
                .attr('width', width + margin.left + margin.right)
                .attr('height', height + margin.top + margin.bottom)
                .append('g')
                .attr('transform', `translate(${margin.left}, ${margin.top})`)

                svg[key].append('text').text(key)

                svg[key].append('g')
                .attr('transform', `translate(0, ${height})`)
                .attr('class', 'xScale')
                .call(d3.axisBottom(xScale))

                svg[key].append('g')
                .attr('class', 'yScale')
                .call(d3.axisLeft(yScale))
            
                svg[key].append('path')
                .datum(Object.entries(SeochoPoint[key]).map(([key, value]) => [key, value]))
                .attr('d', line)
                .attr('stroke', 'blue')
                .attr("stroke-width", 5)
                .attr('fill', 'none')
                svg[key].selectAll('.dot blue')
                .data(Object.entries(SeochoPoint[key]).map(([key, value]) => [key, value]))
                .enter().append('circle')
                .attr('class', 'dot blue')
                .attr('cx', d => xScale(d[0]))
                .attr('cy', d => yScale(d[1]))
                .attr('r', 5)
                .attr('fill', 'blue')
                .on('mouseover', (e, data) => {
                    svg[key].append('text').text(data[1])
                    .attr('x', e.target.getAttribute('cx'))
                    .attr('y', e.target.getAttribute('cy'))
                    .attr('class', 'hover')
                })
                .on('mouseout', () => {
                    svg[key].selectAll('.hover').remove()
                })
                
                svg[key].append('path')
                .datum(Object.entries(GaepoPoint[key]).map(([key, value]) => [key, value]))
                .attr('d', line)
                .attr('stroke', 'red')
                .attr("stroke-width", 5)
                .attr('fill', 'none')
                svg[key].selectAll('.dot red')
                .data(Object.entries(GaepoPoint[key]).map(([key, value]) => [key, value]))
                .enter().append('circle')
                .attr('class', 'dot red')
                .attr('cx', d => xScale(d[0]))
                .attr('cy', d => yScale(d[1]))
                .attr('r', 5)
                .attr('fill', 'red')
                .on('mouseover', (e, data) => {
                    svg[key].append('text').text(data[1])
                    .attr('x', e.target.getAttribute('cx'))
                    .attr('y', e.target.getAttribute('cy'))
                    .attr('class', 'hover')
                })
                .on('mouseout', () => {
                    svg[key].selectAll('.hover').remove()
                })
            }
            
            
            

            
            
            



            /*
            const frag = document.createDocumentFragment()
            dummy.forEach(({ timestamp, id, location }) => {
                const li = document.createElement("li")
                const hour = parseInt(timestamp / 3600)
                const min = parseInt((timestamp % 3600) / 60)
                li.insertAdjacentHTML(
                    "beforeend",
                    `<div>
                        <p>${id}</p>  
                        <p>"개포"</p>
                        <p>${hour}:${min}</p>
                    </div>`
                )
                frag.appendChild(li)
            })
            ul.appendChild(frag)
            */
        </script>
    </body>
</html>