body {
    font-family: 'Commissioner';
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #292D39;
    height: 70px;
    
    color: white;
}

header #logo {
    display: block;
    width: 70px;
    height: 70px;
    margin: auto 10px;
}
header h1 {
    margin-left: 30px;
}

section {
    margin: auto;
    width: 1000px;
    text-align: center;
}
section #grid {
    display: grid;
}

.card {
    width: 200px;
    height: 150px;
    background-color: #292D39;
    color: white;
    padding: 20px;
}

@keyframes slideUp{
    from {
        margin-top: 0px;
    } to {
        margin-top: -10px;
    }
    
}

.card:hover {
    animation: slideUp 0.1s forwards;  
}

.bar {
    fill: #00babc;
}

.barText {
    font-weight: bold;
}
